/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
@font-face {
  font-family: 'Symbolset';
  src: url('../fonts/symbolset/ss-standard.ttf');
}
@font-face {
  font-family: 'Symbolset Social';
  src: url('../fonts/symbolset/ss-social-circle.ttf');
}
/* colors */
/* fonts */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000000;
  font-family: helvetica, arial, sans-serif;
}
ul,
li,
img,
form,
table,
tr,
td,
ol,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
  position: relative;
  font-weight: 500;
  color: #000000;
}
p {
  line-height: 14pt;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
}
a,
a:visited {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #c52534;
}
h1 {
  font-family: 'Avenir Next LT W01 Demi';
  font-size: 47pt;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
}
h2 {
  font-family: 'Terminal Dosis';
  font-size: 26pt;
}
p {
  font-family: 'Terminal Dosis';
  font-size: 15pt;
  line-height: 24pt;
}
a.btn {
  font-family: 'Avenir Next LT W01 Demi';
  display: inline-block;
  text-transform: uppercase;
  padding: 7px 20px 7px 20px;
  font-size: 9pt;
  line-height: 9pt;
  letter-spacing: 1px;
}
a.btn.white {
  border: 2px solid #ffffff;
  color: #ffffff;
}
a.btn.white:hover {
  border: 2px solid #b09b2a;
  color: #b09b2a;
}
a.btn.black {
  border: 2px solid #000000;
  color: #000000;
}
a.btn.black:hover {
  border: 2px solid #b09b2a;
  color: #b09b2a;
}
a.btn.grey {
  border: 2px solid #333333;
  color: #ffffff;
}
a.btn.grey:hover {
  color: #b09b2a;
}
a.btn span.ss-icon {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
a.grey-btn {
  font-family: 'Avenir Next LT W01 Demi';
  display: inline-block;
  text-transform: uppercase;
  padding: 15px;
  font-size: 9pt;
  line-height: 9pt;
  letter-spacing: 1px;
  color: #000000;
  background-color: #f0f0f0;
  width: 235px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a.grey-btn:hover {
  color: #ffffff;
  background-color: #b09b2a;
}
a.grey-btn span.ss-icon {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.container {
  width: 960px;
  display: block;
  margin: 0 auto;
  position: relative;
}
header {
  z-index: 10000;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: #000000;
  color: #ffffff;
  zoom: 1;
}
header a,
header a:visited {
  color: #ffffff;
}
header a:hover,
header a:visited:hover {
  color: #b09b2a;
}
header img.logo {
  float: left;
  margin-top: 15px;
}
header ul {
  float: right;
  list-style-type: none;
  padding-top: 28px;
  zoom: 1;
}
header ul li {
  list-style-type: none;
  float: left;
}
header ul li a,
header ul li a:visited {
  font-family: 'AvenirNextLTW01-Medium';
  text-transform: uppercase;
  font-size: 9pt;
  margin-left: 30px;
}
header ul li a span.ss-icon,
header ul li a:visited span.ss-icon {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
header ul:before {
  content: '';
  display: block;
}
header ul:after {
  content: '';
  display: table;
  clear: both;
}
header:before {
  content: '';
  display: block;
}
header:after {
  content: '';
  display: table;
  clear: both;
}
header.hide {
  display: none;
}
header.show {
  display: block;
}
.scroller {
  display: block;
}
form.subscribe {
  display: block;
}
form.subscribe label {
  display: block;
  font-family: 'Avenir Next LT W01 Demi';
  text-transform: uppercase;
  font-size: 10pt;
  line-height: 10pt;
  letter-spacing: 1px;
  padding: 0 0 15px 0;
  margin: 0;
}
form.subscribe input {
  font-family: 'Avenir Next LT W01 Demi';
  display: inline-block;
  text-transform: uppercase;
  padding: 7px 7px 6px 7px;
  font-size: 9pt;
  line-height: 9pt;
  letter-spacing: 1px;
  border: 2px solid black;
  width: 307px;
}
section {
  display: block;
  position: relative;
  height: 767px;
  background-color: #ffffff;
}
section .container {
  width: 960px;
}
section.home {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 672px;
  width: 100%;
}
section.home div.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
section.home div.bg img {
  position: relative;
  min-width: 100%;
  min-height: 672px;
}
section.home img.logo {
  position: absolute;
  top: 100px;
  left: 0;
}
section.home ul.poly-links {
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 100;
}
section.home ul.poly-links li {
  display: inline-block;
  width: 85px;
  height: 99px;
  margin-left: 20px;
}
section.home ul.poly-links li a,
section.home ul.poly-links li a:visited {
  display: inline-block;
  width: 85px;
  height: 99px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 43px;
  background: url('../images/transparent-hex.png') no-repeat top left;
  text-align: center;
  text-transform: uppercase;
  font-size: 9pt;
  line-height: 9pt;
  letter-spacing: 1px;
  font-family: 'Avenir Next LT W01 Demi';
  color: #ffffff;
}
section.home ul.poly-links li a:hover,
section.home ul.poly-links li a:visited:hover {
  color: #b09b2a;
}
section.home div.welcome {
  display: block;
  margin: 0;
  padding: 275px 0 0 0;
  text-align: center;
  position: relative;
}
section.home div.welcome h1 {
  line-height: 47pt;
  color: #ffffff;
  padding-bottom: 25px;
}
section.home div.welcome p {
  color: #ffffff;
  font-size: 18pt;
  line-height: 18pt;
  padding-bottom: 35px;
}
section.tools {
  background: #616161 url('../images/line-bg-white.png') no-repeat 0 -260px;
}
section.tools h1 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 430px;
  color: #ffffff;
}
section.tools h2 {
  position: absolute;
  top: 325px;
  left: 70px;
  width: 360px;
  color: #ffffff;
}
section.tools p {
  position: absolute;
  top: 160px;
  left: 530px;
  width: 380px;
  color: #ffffff;
}
section.tools span.hex {
  position: absolute;
  top: 101px;
  left: 454px;
}
section.tools p.tools {
  position: absolute;
  top: 532px;
  left: 0;
}
section.talent {
  background: #ffffff url('../images/line-bg-reversed.png') no-repeat top right;
  margin-top: 672px;
}
section.talent h1 {
  position: absolute;
  top: 111px;
  left: 550px;
}
section.talent h2 {
  position: absolute;
  top: 329px;
  left: 610px;
  width: 300px;
}
section.talent span.hex {
  position: absolute;
  top: 158px;
  left: 0;
}
section.talent p.col {
  width: 240px;
  position: absolute;
  top: 219px;
  padding-right: 20px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section.talent p.col:nth-of-type(1) {
  left: 70px;
}
section.talent p.col:nth-of-type(2) {
  left: 310px;
}
section.talent form.subscribe {
  position: absolute;
  top: 589px;
  left: 70px;
}
section.capital {
  background: #ffffff url('../images/line-bg.png') no-repeat 0 -250px;
}
section.capital h1 {
  position: absolute;
  top: 125px;
  left: 130px;
}
section.capital h2 {
  position: absolute;
  top: 395px;
  left: 0;
  width: 290px;
}
section.capital p.col {
  position: absolute;
  width: 240px;
  top: 235px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
}
section.capital p.col:nth-of-type(1) {
  left: 370px;
}
section.capital p.col:nth-of-type(2) {
  left: 610px;
}
section.capital span.hex {
  position: absolute;
  top: 173px;
  left: 830px;
}
section.contact #map {
  position: absolute;
  display: block;
  width: 100%;
  height: 767px;
}
section.contact h1 {
  position: absolute;
  top: 166px;
  left: 0;
}
section.contact h2 {
  position: absolute;
  top: 281px;
  left: 61%;
  width: 270px;
  font-size: 22pt;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 50px;
}
section.contact p.desc {
  position: absolute;
  top: 281px;
  right: 61%;
  width: 270px;
  font-size: 14pt;
  padding-right: 50px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section.contact p.team-btn {
  position: absolute;
  top: 497px;
  right: 61%;
  margin-right: 50px;
}
section.contact p.stackhaus-btn {
  position: absolute;
  top: 497px;
  left: 61%;
  margin-left: 50px;
}
section.contact div.mask {
  display: block;
  position: absolute;
  top: 227px;
  left: 0;
  width: 100%;
  height: 379px;
}
section.contact div.mask div.white-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 39%;
  height: 379px;
  background-color: #ffffff;
}
section.contact div.mask div.white-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 39%;
  height: 379px;
  background-color: #ffffff;
}
section.contact div.mask div.white-top {
  position: absolute;
  height: 30px;
  background-color: #ffffff;
  width: 22%;
  top: 0;
  left: 50%;
  margin-left: -11%;
}
section.contact div.mask div.white-bottom {
  position: absolute;
  height: 30px;
  background-color: #ffffff;
  width: 22%;
  bottom: 0;
  left: 50%;
  margin-left: -11%;
}
.marker-image {
  width: 61px;
  height: 73px;
  margin-left: -31px;
  margin-top: -69px;
  pointer-events: all;
  position: absolute;
}
span.hex {
  z-index: 100;
  display: block;
  position: relative;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 62px;
  height: 75px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
}
span.hex span.shape {
  display: block;
  position: absolute;
  top: 29px;
  left: -8px;
  line-height: 0;
  font-size: 85px;
}
span.hex span.ss-icon {
  display: block;
  position: absolute;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 62px;
  height: 75px;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 21px;
  font-size: 25px;
}
span.hex.white span.shape {
  color: #ffffff;
}
span.hex.white span.ss-icon {
  color: #616161;
}
span.hex.black span.shape {
  color: #000000;
}
span.hex.black span.ss-icon {
  color: #ffffff;
}
span.hex.grey span.shape {
  color: #ababab;
}
span.hex.grey span.ss-icon {
  color: #ffffff;
}
section.page {
  background: #ffffff url('../images/line-bg.png') no-repeat 0 -260px;
  display: block;
  height: auto;
}
section.page div.container {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 215px 70px 120px 70px;
}
section.page span.hex {
  position: absolute;
  top: 250px;
  right: 0;
}
section.page h3 {
  font-family: 'Avenir Next LT W01 Demi';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12pt;
  padding: 0 60px 30px 180px;
}
section.page form {
  padding-left: 180px;
}
section.page ul {
  font-family: 'Terminal Dosis';
  padding: 0 60px 30px 210px;
  list-style-type: square;
}
section.page ul li {
  list-style-type: square;
  font-family: 'Terminal Dosis';
  font-size: 15pt;
  line-height: 24pt;
  margin-left: 20px;
}
section.page ul.articles-list {
  list-style-type: none;
}
section.page ul.articles-list li {
  list-style-type: none;
}
section.page ul.articles-list li p {
  padding-left: 0;
}
section.page ul.articles-list li p.date {
  position: absolute;
  top: 0;
  left: -232px;
}
section.page ul.companies-list {
  list-style-type: none;
}
section.page ul.companies-list li {
  list-style-type: none;
}
section.page ul.companies-list li h3 {
  padding-left: 0;
  padding-bottom: 10px;
}
section.page ul.companies-list li p {
  position: relative;
  padding-left: 0;
}
section.page ul.companies-list li img.company-logo {
  position: absolute;
  top: 0;
  left: -232px;
  width: 120px;
  display: block;
}
section.page h1 {
  font-size: 20pt;
  line-height: 28pt;
  width: 520px;
  padding: 0 0 50px 0;
}
section.page p {
  padding: 0 60px 30px 180px;
}
section.page p.date {
  padding: 0;
  float: left;
  font-family: 'AvenirNextLTW01-Medium';
  text-transform: uppercase;
  font-size: 9pt;
}
section.page p.intro {
  font-family: 'Terminal Dosis';
  font-size: 20pt;
  line-height: 28pt;
  font-weight: bold;
}
section.page img {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
footer {
  display: block;
  position: relative;
  width: 100%;
  height: 77px;
  background-color: #000000;
  color: #ffffff;
}
footer p.copyright {
  color: #fff;
  font-size: 11pt;
  padding-top: 24px;
}
footer form.subscribe {
  position: absolute;
  top: 20px;
  left: 0;
  color: #ffffff;
}
footer form.subscribe label {
  color: #333333;
}
footer form.subscribe input {
  border: 2px solid #333333;
  background-color: #000000;
  color: #ffffff;
  width: 200px;
}
footer ul.footer-links {
  position: absolute;
  top: 20px;
  right: 0;
}
footer ul.footer-links li {
  display: inline-block;
}
footer ul.footer-links li a,
footer ul.footer-links li a:visited {
  color: #ffffff;
  font-family: 'AvenirNextLTW01-Medium';
  text-transform: uppercase;
  font-size: 9pt;
  margin-left: 30px;
}
footer ul.footer-links li a:hover,
footer ul.footer-links li a:visited:hover {
  color: #b09b2a;
}
footer ul.footer-links li a.ss-icon,
footer ul.footer-links li a:visited.ss-icon {
  font-size: 18pt;
  position: relative;
  top: 7px;
}
footer ul.footer-links li a.ss-icon.nopad,
footer ul.footer-links li a:visited.ss-icon.nopad {
  margin-left: 15px;
}
