
    <footer>
        <div class="container">
            <p class="copyright">&copy; 2013 Full Stack Foundry GP</p>
            <!--
            <form action="http://fullstack.us6.list-manage1.com/subscribe/post?u=dc00cae7f39474b151101ccf3&amp;id=fc21ef9433" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe validate" target="_blank" novalidate>
                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Get Connection Karma">  
                <input type="hidden" value="2" name="group[3273][2]" id="mce-group[3273]-3273-1">          
                <a href="#" class="btn grey subscribe-btn"><span class="ss-icon">email</span> Get It</a>
            </form>
            -->
            <ul class="footer-links">
	        <li><a href="/news">News</a></li>   
                <li><a href="/team">Team</a></li>  
                <li><a href="/companies">Companies</a></li>                                
                <li><a href="/stackhaus">Stackhaus</a></li>        
                <li><a href="/connectionkarma">Connection Karma</a></li>            
                <li><a href="https://angel.co/fullstackventures" target="_blank" class="angel-logo">&nbsp;</a></li>                            
                <li><a href="http://twitter.com/fullstackdotca" target="_blank" class="ss-icon ss-social ss-social-circle nopad">Twitter</a></li>
                <li><a href="http://facebook.com/fullstackfoundry" target="_blank" class="ss-icon ss-social ss-social-circle nopad">Facebook</a></li>
            </ul>
        </div>
    </footer>
    
    <!-- plugins -->
    <script src="/fonts/symbolset/ss-social.js" type="text/javascript" /></script>	
    <script src="/fonts/symbolset/ss-standard.js" type="text/javascript" /></script>	
    <script src="/js/plugins/url.js" type="text/javascript" /></script>    
    <script src="/js/plugins/signals.min.js" type="text/javascript" /></script>
    <script src="/js/plugins/crossroads.min.js" type="text/javascript" /></script>
    <script src="/js/plugins/jquery.easing.js" type="text/javascript" /></script>

    <!-- app -->
    <script type="text/javascript" src="/js/fullstack.js" /></script>  
        
    <!-- google analytics -->    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36851453-1']);
      _gaq.push(['_setDomainName', 'fullstack.ca']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
</body>

</html>
