
    <header>
        <div class="container">
            <a href="#homeanchor" class="home-link"><img src="http://fullstack.ca/images/logo-small.png" alt="Full Stack" class="logo" /></a>
            <ul class="jsnav">
                <li><a href="#talentanchor"><span class="ss-icon">users</span>Talent</a></li>                
                <li><a href="#toolsanchor"><span class="ss-icon">database</span>Tools</a></li>
                <li><a href="#capitalanchor"><span class="ss-icon">dollarsign</span>Capital</a></li>
                <li><a href="#contactanchor"><span class="ss-icon">phone</span>Contact</a></li>
            </ul>
        </div>
    </header>
