<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Full Stack Foundry | Blog</title>
  <meta name="description" content="Full Stack Foundry - Napkin stage tools, talent, and capital in Vancouver, BC.">
  <meta name="viewport" content="width=device-width">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" /></script>
  
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/2e558a78-9bc0-4aff-bcd3-a80bf3534d07.css"/>
  <link type="text/css" rel="stylesheet" href="fonts/symbolset/ss-social.css" /> 
  <link type="text/css" rel="stylesheet" href="fonts/symbolset/ss-standard.css" />  
    
  <!--[if IE]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
  <link rel="stylesheet" href="css/fullstack.css">
</head>

<body>   
  
    <header>
        <div class="container">
            <a href="/" class="home-link"><img src="images/logo-blog.png" alt="Full Stack" class="logo" /></a>
            <ul class="jsnav">
                <li><a href="/"><span class="ss-icon">navigateleft</span>Back To Full Site</a></li>
            </ul>
        </div>
    </header>

    <section class="page">
        
        <div class="container">
                                    
        <h1>Full Stack Launches Napkin Capital: Funds QuoteRobot</h1>
        
        <p class="date">January 13, 2013</p>
        
        <span class="hex grey">
            <span class="shape">&#x2B22;</span>
            <span class="ss-icon">buildings</span>
        </span>
        
        <p class="intro">Full Stack is a new kind of investment vehicle we're calling "napkin capital". Napkin capital focuses on relationships with great talent, is opinionated about tools and best practices, and provides angel-stage capital at the earliest stages of web startups.</p>
        
        <p><a href="#">Boris Mann</a> and <a href="#">Lance Tracey</a> are long time partners who are joining forces to kick off Full Stack.</p>

        <p>Boris Mann previously founded Bootup Labs, the first startup accelerator in Canada, and is a well-known web entrepreneur & community agitator. Lance is a legendary Vancouver investor who has been involved in the technology ecosystem for decades. He is co-founder of Sutton Realty, chairman of the board at PEER1, and first funded Boris at Bryght back in 2004.</p>

        <p>Full Stack is proud to announce their first investment, Input Logic, based in Nanaimo, BC. Shawn & Gavin of Input Logic have a long history of great design and innovative technology development. They are the team behind QuoteRobot, the very best way to create & send winning proposals. QuoteRobot recently went through a full 2.0 rebuild and is being quickly adopted by web designers and developers everywhere.</p>
        
        <img src="images/img-placeholder.png" />

        <p>The Full Stack investment will allow Input Logic to focus on marketing and distribution of QuoteRobot, further integrations into other systems, and developing enterprise and higher end offerings for different quoting verticals.</p>

        <p>Full Stack plans to invest in 2 - 3 companies per year, and will be launching their full website, including more details about their approach to talent + tools + capital, in January 2013.</p>
        
        <h3>Coverage</h3>
        <ul>
            <li>View post on Techvibes</li>
            <li>Mentioned in Mark Evans' This Week in Canadian Startups</li>
        </ul>
        
        </div>
        
    </section>

    <footer>
        <div class="container">
            <form class="subscribe">
                <input type="text" name="email" placeholder="Get Connection Karma">
                <a href="#" class="btn grey"><span class="ss-icon">email</span> Subscribe</a>
            </form>
            <ul class="footer-links">
                <li><a href="#" target="_blank">Stackhaus</a></li>
                <li><a href="#" target="_blank">News</a></li>            
                <li><a href="#" target="_blank">Team</a></li>
                <li><a href="#" target="_blank">Newsletter</a></li>            
                <li><a href="http://twitter.com/fullstackdotca" target="_blank" class="ss-icon ss-social ss-social-circle">Twitter</a></li>
                <li><a href="http://facebook.com" target="_blank" class="ss-icon ss-social ss-social-circle nopad">Facebook</a></li>
            </ul>
        </div>
    </footer>
    
    <!-- plugins -->
    <script src="js/plugins/json2.js" type="text/javascript" /></script>	
    <script src="js/plugins/analytics.js" type="text/javascript" /></script>
    <script src="fonts/symbolset/ss-social.js" type="text/javascript" /></script>	
    <script src="fonts/symbolset/ss-standard.js" type="text/javascript" /></script>	
    <script src="js/plugins/url.js" type="text/javascript" /></script>
    <script src="js/plugins/signals.min.js" type="text/javascript" /></script>
    <script src="js/plugins/crossroads.min.js" type="text/javascript" /></script>
    <script src="js/plugins/jquery.easing.js" type="text/javascript" /></script>

    <!-- app -->
    <script type="text/javascript" src="js/fullstack.js" /></script>  
        
</body>

</html>
