<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Full Stack Foundry | Blog</title>
  <meta name="description" content="Full Stack Foundry - Napkin stage tools, talent, and capital in Vancouver, BC.">
  <meta name="viewport" content="width=device-width">
  
  <meta property="og:title" content="Full Stack - Tools + Talent + Capital" />
  <meta property="og:type" content="company" />
  <meta property="og:site_name" content="Full Stack - Tools + Talent + Capital" />
  <meta property="og:description" content="We're a new kind of angel investment company that we like to call 'napkin capital'." />
  <meta property="og:url" content="fullstack.ca" />
  <meta property="og:image" content="" />
    
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" /></script>
  
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/2e558a78-9bc0-4aff-bcd3-a80bf3534d07.css"/>
  <link type="text/css" rel="stylesheet" href="http://fullstack.ca/fonts/symbolset/ss-social.css" /> 
  <link type="text/css" rel="stylesheet" href="http://fullstack.ca/fonts/symbolset/ss-standard.css" />  
    
  <!--[if IE]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
  <link rel="stylesheet" href="http://fullstack.ca/css/fullstack.css">
</head>

<body>   
  
    <header>
        <div class="container">
            <a href="http://fullstack.ca" class="home-link"><img src="http://fullstack.ca/images/logo-blog.png" alt="Full Stack" class="logo" /></a>
            <ul class="jsnav">
                <li><a href="http://fullstack.ca"><span class="ss-icon">navigateleft</span>Back To Full Site</a></li>
            </ul>
        </div>
    </header>

    <section class="page">
        
        <div class="container">
                                    
        <h1>{{ page.title }}</h1>
        
        <p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
        
        <span class="hex grey">
            <span class="shape">&#x2B22;</span>
            <span class="ss-icon">{{ page.icon }}</span>
        </span>

        {{ content }}
        
        </div>
        
    </section>

    <footer>
        <div class="container">
            <form class="subscribe">
                <input type="text" name="email" placeholder="Get Connection Karma">
                <a href="#" class="btn grey"><span class="ss-icon">email</span> Subscribe</a>
            </form>
            <ul class="footer-links">
                <li><a href="#" target="_blank">Stackhaus</a></li>
                <li><a href="#" target="_blank">News</a></li>            
                <li><a href="#" target="_blank">Team</a></li>
                <li><a href="#" target="_blank">Newsletter</a></li>            
                <li><a href="http://twitter.com/fullstackdotca" target="_blank" class="ss-icon ss-social ss-social-circle">Twitter</a></li>
                <li><a href="http://facebook.com" target="_blank" class="ss-icon ss-social ss-social-circle nopad">Facebook</a></li>
            </ul>
        </div>
    </footer>
    
    <!-- plugins -->
    <script src="http://fullstack.ca/js/plugins/json2.js" type="text/javascript" /></script>	
    <script src="http://fullstack.ca/js/plugins/analytics.js" type="text/javascript" /></script>
    <script src="http://fullstack.ca/fonts/symbolset/ss-social.js" type="text/javascript" /></script>	
    <script src="http://fullstack.ca/fonts/symbolset/ss-standard.js" type="text/javascript" /></script>	
    <script src="http://fullstack.ca/js/plugins/url.js" type="text/javascript" /></script>
    <script src="http://fullstack.ca/js/plugins/signals.min.js" type="text/javascript" /></script>
    <script src="http://fullstack.ca/js/plugins/crossroads.min.js" type="text/javascript" /></script>
    <script src="http://fullstack.ca/js/plugins/jquery.easing.js" type="text/javascript" /></script>

    <!-- app -->
    <script type="text/javascript" src="http://fullstack.ca/js/fullstack.js" /></script>  
        
    <!-- google analytics -->    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36851453-1']);
      _gaq.push(['_setDomainName', 'fullstack.ca']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
        
</body>

</html>
