
    <section class="capital" id="capitalanchor">
        <div class="container">
            <h1>Capital</h1>
            <h2>Napkin capital: Early stage investments in tech
        startups.</h2>
            <span class="hex black">
                <span class="shape">&#x2B22;</span>
                <span class="ss-icon">dollarsign</span>
            </span>
            <p class="col">The Full Stack prototype fund officially closed in July 2014. Check out our <strong><a href="/companies">list of portfolio companies</a></strong> to see our investments to date. We still do some ad-hoc investments, but are not actively looking for new deals.</p>
            <p class="col">Full Stack invests $50K to $150K as a first investment. We lead rounds using simple, standardized terms for Canadian seed deals.<br />Visit <a href="http://openangel.ca">Open Angel Canada</a> to connect with no-bs cheque writing opportunities.</p>
        </div>
    </section>
