
    <!-- mapbox -->
    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js'></script>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' rel='stylesheet' />

    <section class="contact" id="contactanchor">
        <div id="map"></div>

        <div class="mask">
            <div class="white-left"></div>
            <div class="white-right"></div>
            <div class="white-top"></div>
            <div class="white-bottom"></div>
        </div>

        <div class="container">
            <h1>Contact Us</h1>
        </div>

        <p class="desc">Full Stack Foundry is a General Partnership
          between <a href="/team/#boris">Boris Mann</a> and <a href="/team/#lance">Lance Tracey</a>. Looking to get in touch? Use the <a href="/contact/">contact form</a>.</p>
        <p class="team-btn"><a href="/team/" class="grey-btn"><span class="ss-icon">users</span> Meet Our Team</a></p>
        <h2><a href="http://goo.gl/maps/JUVit" target="_blank">55 East Cordova</a><br />
	Unit 604<br />
        Vancouver, BC<br />
        V6A 0A5<br />
        Canada<br /></h2>
    </section>
