
    <!-- mapbox -->
    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js'></script>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' rel='stylesheet' />  
    
    <section class="contact" id="contactanchor">
        <div id="map"></div>
        
        <div class="mask">
            <div class="white-left"></div>
            <div class="white-right"></div>
            <div class="white-top"></div>
            <div class="white-bottom"></div>            
        </div>
        
        <div class="container">
            <h1>Contact Us</h1>
        </div>
        
        <p class="desc">Full Stack Foundry is a General Partnership
        between <a href="/team/#boris">Boris Mann</a> and <a href="/team/#lance">Lance Tracey</a>. Looking to get in touch? Please <a
        href="/contact/">message us</a>.</p>
        <p class="team-btn"><a href="/team/" class="grey-btn"><span class="ss-icon">users</span> Meet Our Team</a></p>            
        <h2>55 East Cordova<br />
	Unit 604<br />
        Vancouver, BC<br />
        V9T 3Y1<br />
        Canada<br /></h2>
        <p class="stackhaus-btn"><a href="/stackhaus/"
        title="StackHaus is the Full Stack office, shared with some
        other great startup teams" class="grey-btn"><span class="ss-icon">eye</span> Check Out StackHaus</a></p>
    </section>
