
    <section class="talent" id="talentanchor">
        <div class="container">
            <h1>Talent</h1>
            <h2>Harness our network to find the teammates you'll need.</h2>
            <span class="hex black">
                <span class="shape">&#x2B22;</span>
                <span class="ss-icon">users</span>
            </span>                        
            <p class="col">Carles messenger bag american apparel organic cardigan, godard butcher 90's tofu 3 wolf moon hella. Kale chips flannel church-key, truffaut tofu typewriter synth cray vice. Biodiesel yr mixtape, 3 wolf moon high life direct trade ennui tumblr tousled plaid locavore od.</p>
            <p class="col">Carles messenger bag american apparel organic cardigan, godard butcher 90's tofu 3 wolf moon hella. Kale chips flannel church-key, truffaut tofu typewriter synth cray vice. Biodiesel yr mixtape, 3 wolf moon high life direct trade ennui tumblr tousled plaid locavore od.</p>          
            <form class="subscribe">
                <label>Connection Karma Newsletter</label>
                <input type="text" name="email" placeholder="Enter your email">
                <a href="#" class="btn black"><span class="ss-icon">email</span> Get It</a>
            </form>
        </div>
    </section>
