
    <section class="talent" id="talentanchor">
        <div class="container">
            <h1>Talent</h1>
            <h2>Harness our network to build a team of top talent for your startup.</h2>
            <span class="hex black">
                <span class="shape">&#x2B22;</span>
                <span class="ss-icon">users</span>
            </span>                     
            <p class="col">We make a mission of connecting with the movers, shakers, makers and marketers in startup-land. We believe that working with top talent is one of the keys to growing a solid business, and we're delighted to make intros to our network of people.</p>
            <p class="col">Also, every two weeks we send an email newsletter we like to call Connection Karma - it's our way of saying thank you to all those talented folks who connect with us. In it you'll find great people to connect with and stories about the Vancouver startup scene.</p>               
            <form class="subscribe" action="http://fullstack.us6.list-manage1.com/subscribe/post?u=dc00cae7f39474b151101ccf3&amp;id=fc21ef9433" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Get Connection Karma">  
                <input type="hidden" value="2" name="group[3273][2]" id="mce-group[3273]-3273-1">          
                <a href="#" class="btn black subscribe-btn"><span class="ss-icon">email</span> Subscribe</a>
            </form>
        </div>
    </section>
