
    <section class="talent" id="talentanchor">
        <div class="container">
            <h1>Talent</h1>
            <h2>Opportunities for great people</h2>
            <span class="hex black">
                <span class="shape">&#x2B22;</span>
                <span class="ss-icon">users</span>
            </span>                     
            <p class="col">We believe that working with top talent is the key to growing a business. Looking for a partner, service provider, or next member of your team? Let us know, we're happy to connect you.</p>
            <p class="col">Every two weeks we write an email newsletter we call <a href="/connectionkarma/">Connection Karma</a>. In it you'll find great people to connect with and stories about people, tools, and startups in Vancouver and beyond.</p>               

        </div>
    </section>
