
    <section class="tools" id="toolsanchor">
        <div class="container">
            <h1>Tools</h1>
            <h2>Data driven insights. Analyze, organize, collaborate & execute.</h2>
            <p class="tools"><a href="#" class="btn white"><span class="ss-icon">eye</span> Peep Our Tools</a></p>    
            <span class="hex white">
                <span class="shape">&#x2B22;</span>
                <span class="ss-icon">database</span>
            </span>            
            <p>Regardless of your product, vertical, or business, tools and analytics matter. We understand capturing data is half the battle. Understanding the data, and making intelligent decisions is key. Full Stack works with every team to build meaningful KPI (Key Performance Indicators) that relates to your business. We also work with each team to provide a practices and tools audit with recommendations for design, development, community engagement, and customer support. Click "Peep Our Tools" on the left to see a list of recommended tools and services.</p>
        </div>      
    </section>

    