
    <section class="tools" id="toolsanchor">
        <div class="container">
            <h1>Tools</h1>
            <h2>Data driven insights. Analyze, organize, collaborate &
        execute.</h2>
	   <p class="tools"><a href="/tools/" class="btn white"><span
        class="ss-icon">eye</span> Recommended Tools</a></p>
            <span class="hex white">
                <span class="shape">&#x2B22;</span>
                <span class="ss-icon">database</span>
            </span>            
            <p>Regardless of your product, vertical, or business,
        tools and analytics matter. These are everything from the
        growing list of "single line of JavaScript" add-ons to apps,
        PaaS, and open source code that are the building blocks of
        modern startups. We're always looking to experiment with new
        tools and learn how they can help businesses grow, and we love
        to share our insights.</p>
        </div>      
    </section>

    