
    <section class="home" id="homeanchor">
        <div class="bg"><img src="{{ site.url }}/images/home-bg-1.jpg" /></div>
        <div class="container">
            <img src="{{ site.url }}/images/logo.png" class="logo" />
            <ul class="poly-links">
                <li><a href="#talentanchor">Talent</a></li>
                <li><a href="#toolsanchor">Tools</a></li>
                <li><a href="#capitalanchor">Capital</a></li>
            </ul>
            <div class="welcome">
                <h1>Investing in Entrepreneurs</h1>
                <p>A napkin capital investment firm in Vancouver, BC. 2013 - 2014.</p>
                <p><a href="#capitalanchor" class="btn white jslink">Learn More</a></p>
            </div>
        </div>
    </section>
