
    <section class="home" id="homeanchor">
        <div class="bg"><img src="http://fullstack.ca/images/home-bg-1.jpg" /></div>
        <div class="container">
            <img src="http://fullstack.ca/images/logo.png" class="logo" />
            <ul class="poly-links">
                <li><a href="#talentanchor">Talent</a></li>
                <li><a href="#toolsanchor">Tools</a></li>
                <li><a href="#capitalanchor">Capital</a></li>
            </ul>
            <div class="welcome">
                <h1>Helping Entrepreneurs</h1>
                <p>A napkin capital investment firm in Vancouver, BC.</p>
                <p><a href="#talentanchor" class="btn white jslink">Learn More</a></p>
                <p>js widget publisher - <a href="#" class="_qbotSignupBtn">Try QuoteRobot</a></p>

                <!-- quoterobot signup widget code -->
                <script type="text/javascript">
                var _qbot = _qbot || {};
                (function(){
                    var script   = document.createElement('script');
                    script.type  = 'text/javascript';
                    script.async = true;
                    script.src   = 'http://nerdburn.com/projects/jswidget/embed.js'
                    var node     = document.getElementsByTagName('script')[0];
                    node.parentNode.insertBefore(script, node);
                }());
                </script>
            </div>
        </div>
        <!--
        <span class="hex">
            <span class="shape">&#x2B22;</span>
            <span class="ss-icon">database</span>
        </span>
        -->
    </section>